  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

  :root {
  --light-color: rgb(237, 160, 0);
  --dark-color: rgb(23, 23, 23);
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
}

.page-divider {
  position: relative;
  display: flex;
}

.image-logo-area {
  position: relative;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
}

img {
  transform: translateX(-50%) translateY(-45%);
}

.logo-banner {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 8rem;
  color: antiquewhite;
  width: 32vw;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

.cross {
  position: relative;
  right: 1.3rem;
  margin: 0;
}

.credit-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.photo-credit {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
}

h5 {
  position: relative;
  color: inherit;
  z-index: 2;
}

a {
  color: inherit;
  z-index: 3;
}

.form-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
}

.tagline {
  font-size: 3rem;
  margin-bottom: 0;
}

.hook {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 30vw;
  min-width: fit-content;
}

.row {
  display: flex;
  max-width: inherit;
  min-width: 10vw;
  max-height: 2vw;
}

.item {
  max-height: fit-content;
  display: flex;
  min-width: 20vw;
}

input {
  height: 2vh;
  margin: auto;
}