  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

  :root {
  --light-color: rgb(237, 160, 0);
  --dark-color: rgb(23, 23, 23);
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
  min-width: fit-content;
}

.page-divider {
  position: relative;
  display: flex;
}

.image-logo-area {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.logo-banner {
  display: flex;
  justify-content: center;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: antiquewhite;
  width: inherit;
  max-width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

.cross {
  position: relative;
  right: 1.3rem;
  margin: 0;
}

.credit-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.photo-credit {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
}

h5 {
  position: relative;
  color: inherit;
  z-index: 2;
}

a {
  color: inherit;
  z-index: 3;
}

.form-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
}

.tagline {
  font-size: 3rem;
  margin-bottom: 0;
}

.hook {
  margin-top: 0;
  padding-left: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 40vw;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
  max-width: inherit;
  min-width: 10vw;
}

.item {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-width: fit-content;
  margin-left: 2rem;
}

input {
  height: 1.5vh;
  margin: 1rem;
  color: antiquewhite;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
}

input:invalid {
  border: 2px solid antiquewhite;
  border-radius: 5px;
}

.create-account-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
  margin: 2rem;
}

button {
  font-size: 1rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
}